

body{
    padding-top:40px;
    padding-bottom:80px;
    color:black;
    font-size:59px;
    background:#ffcf00;
    font-family: impact;
}

#name{
    
    background-image: url('static/fire.gif');
    background-size:50%;
    background-position:left -10px;
            background-repeat: repeat;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            /*
            margin-top: 200px;
            font-size: 120px;
            text-align: center;
            font-weight: bold;
            text-transform: uppercase;
            font-family: 'Steelfish Rg', 'helvetica neue',
                     helvetica, arial, sans-serif;
            font-weight: 800;
            */
            -webkit-font-smoothing: antialiased;
}


.content{width:800px;margin:auto;}

header{
    font-size:119px;
    line-height:119px;
    font-family: 'Japanese Robot', impact;
    }

    #hello{font-size:60px;font-family:Impact;text-transform:uppercase;
    background:url('static/hola.gif') -30px center;background-size:110px;padding-left:70px;background-repeat:no-repeat;}

    h2{
        text-transform:uppercase;
        font-size:35px;
    }

    .danger{
        background:url('static/danger.png') -25px top repeat-x;height:20px;margin:70px 0;
    }

    #face{
        background:url('static/face7.png') no-repeat center center;background-size:75% auto;height:500px;width:100%;
    }

    #tagline{text-transform:uppercase;font-size:54px;text-align: justify;}

    .boxes {
        display: flex;
        flex-wrap: wrap;
    }

    .boxes > div{
        flex-grow: 1;
        width: 50%;
    }

    .boxes .box_content.box_cover{font-size:20px;text-align:left;background-size:auto 100%;background-position:center center;}

    .boxes .box_content{
        margin:10px;
        height: 200px;
        border:3px black solid;
        text-align:center;
    }

    .boxes .box_fire{display:flex;justify-content: center;align-items: center;background:url('static/fire.gif');background-size:100%;color:white;text-shadow: 0 0 10px #000;}

    
    .boxes_press {
        display: flex;
        flex-wrap: wrap;
    }

    .boxes_press > div{
        flex-grow: 1;
        width: 33%;
    }

    .boxes_press .box_content{
        margin:10px;
        height: 100px;
        border:3px black solid;
        text-align:center;
        background-position:center center ;
        background-size:80% auto;
        background-repeat:no-repeat;
    }

    #twitter{
        color:black;
        text-decoration:none;
        display:block;
        font-size:60px;
        margin-top:25px;
    }

 

    #twitter:hover {
                animation: shake 0.5s;
                animation-iteration-count: infinite;
            }
    
    @keyframes shake {
            0% {
                transform: translate(1px, 1px) rotate(0deg);
            }

            10% {
                transform: translate(-1px, -2px) rotate(-1deg);
            }

            20% {
                transform: translate(-3px, 0px) rotate(1deg);
            }

            30% {
                transform: translate(3px, 2px) rotate(0deg);
            }

            40% {
                transform: translate(1px, -1px) rotate(1deg);
            }

            50% {
                transform: translate(-1px, 2px) rotate(-1deg);
            }

            60% {
                transform: translate(-3px, 1px) rotate(0deg);
            }

            70% {
                transform: translate(3px, 1px) rotate(-1deg);
            }

            80% {
                transform: translate(-1px, -1px) rotate(1deg);
            }

            90% {
                transform: translate(1px, 2px) rotate(0deg);
            }

            100% {
                transform: translate(1px, -2px) rotate(-1deg);
            }
        }


@media screen and (max-width: 700px) {
    body{
    margin:0;
    margin-bottom:100px;
    padding:0;
    font-size:30px;
    }
    
    .content{width:90%;}

    header{
        
    font-size:64px;
    }

    #name{
        background-position: left 20px;
        position: relative;
        margin-top: -30px;
    }

    #face{
        height:340px;
        background-size:100% auto;
    }

    #tagline{font-size:40px;}

    .boxes .box_fire{background-size:auto 100%;}


    .boxes_press .box_content{
        background-size:100% auto;
    }



    .boxes_press > div{
        width: 50%;
    }



    h2{font-size:30px;}


    iframe{
        max-width:100%;
    }

    
    #twitter{
        font-size:50px;
    }
}